{block videochat}

<div ng-controller="VideoChatCtrl">
	<div class="video-wrapper">
	  <chat-video-player class="col-md-4" ng-repeat="peer in peers" vid-src="{{ peer.stream }}"></chat-video-player>
	</div>

	<div class="video-wrapper">
	  <div class="col-md-2">
		<video ng-src="{{ getLocalVideo() }}" autoplay muted></video>
	  </div>
	</div>
</div>
{/block}