parameters:
	domain: homevietv

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter

	session:
		expiration: 14 days


services:
	- Model\UserManager
	- App\RouterFactory
	SocketController: Model\SocketServer\SocketController
	ServiceRooms: Model\Rooms\Service
	DbMapperRooms: Model\Rooms\DbMapper
	router: @App\RouterFactory::createRouter

	# tables
	sessions: Model\Sessions
