{block content}
      <div class="">
        {if Nette\Config\Configurator::detectDebugMode()}
			<a href="{plink Auth:callback, strategy => 'fake'}">Fake login</a><br/>
		{/if}
		<a href="{plink Auth:google}">Sign-in with Google</a><br/>
		<a href="{plink Auth:facebook}">Sign-in with Facebook</a><br/>
		<a href="{plink Auth:twitter}">Sign-in with Twitter</a><br/>
		<a href="{plink Auth:linkedin}">Sign-in with LinkedIn</a><br/>
      </div><!--/row-->