/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9.12.2014, 23:33:02
    Author     : Josef
*/
.clear {
    clear: both;
}

.subtitle {
    text-align: center;
    color: #37be59;
	font-size: 1em;
}

.appWrapper {
    width: 1000px;
    margin: 0 auto;
	min-height: 1000px;
	

}

body {
    padding: 0;
    margin: 0;
    background: black 020202 121212;
    background: #020202; /* Old browsers */
    background: -moz-linear-gradient(45deg, #020202 0%, #353535 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020202), color-stop(100%,#353535)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #020202 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #020202 0%,#353535 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #020202 0%,#353535 100%); /* IE10+ */
    background: linear-gradient(45deg, #020202 0%,#353535 100%); /* W3C */
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#353535',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
	
	/*
	 background: url(../img/back.png) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	*/
	
}

h1, h2 {
	margin: 0;
}

footer {
	margin: 60px 0 20px 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.8em;
}

footer a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin: 0 10px;
}

footer a:hover {
	text-decoration: underline;
	color: #37be59;
}

.appHeader {
	margin: 0 0 100px 0;
}

.appHead {
    text-align: center;
}

.appSearchBox {
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.appSearchInput {
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 120%;
    float: left;
}

.appSearchButt {
    background: #37be59;
    border-radius: 5px;
    padding: 10px;
    float: right;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
	cursor: pointer;
}

.appContent {
    margin-top: 50px;
}

.topBar {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	//position: fixed;	
}

.topBar .logo {
	background-image: url('/images/logo.png');
	display: inline-block;
	width: 169px;
	height: 50px;
	margin-left: 50px;
}
.topBar .logo a {
	display: block;
}

.appVideoChatWraper {
	clear: both;
	width: 100%;
}
.appVideoChat video {
    width: 15%;
    margin: 1%;
    float: left;
    position: relative;
}

.appVideoBox {
    width: 29%;
    margin: 2%;
    float: left;
    position: relative;
}

.appVideoBox a {
	display: block;
	height: 161px;
	overflow-y: hidden;		
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.appVideoBox a, .appVideoBox a:hover, .appVideoBox a:visited {
	color: #fff;
}

.appVideoBox img {
    position: relative;
    z-index: 1;
    opacity: 0.3;
	width: 290px;	
	margin: -27px 0 -20px 0;
}

.appPlay, .joinButton {
	border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
	cursor: pointer;
}

.appPlay {   
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 30%;
}

.joinButton {
	float: right;
	margin-right: 50px;
}

.appVideoBox:hover img {
    opacity: 1;
}

.appVideoBox:hover .appPlay {
    background: #37be59;

}

.appSearchBox.half-size {
	width: 50%;
}

.appRoom {
	margin-bottom: 100px;
}

.appRoom .appVideoPlayer {
	float: left;
}

.appChat {
	background-color: rgba(0, 0, 0, 0.31);
	margin-left: 640px;
	height: 370px;
	padding: 10px;
	font-size: 0.9em;
}

.appChat .time {
	color: rgba(94, 94, 94, 1);
	font-weight: bold;
	font-style: italic;
	width: 40px;
	display: inline-block;
}

.appChat .name {	
	font-weight: bold;
}

.appChat .messageText {	
	border-bottom: 1px solid rgb(41, 41, 41);
	padding: 5px 0 5px 0;
	margin-bottom: 5px;
}

#chatBox {
	height: 330px;	
	overflow-y: scroll;
	word-wrap: break-word;
	padding-right: 10px;
}

.appChat .chatMessageInput {
	width: 95%;
	color: #fff;
	background-color: rgba(31, 31, 31, 1);	
	border-color: #020202;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(0, 0, 0, 0.31);
}

.scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(0, 0, 0, 0.31);
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #37be59;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}